<html>
  <style></style>
</html>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>"ADMIN PANEL - Diversity Orgs"</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
  </head>
  <body>
    <div class="container mx-auto my-4">
      <div class="mb-4">
        <h1 class="font-bold text-3xl">
          <a href="/">ADMIN PANEL - Tech Diversity Orgs</a>
        </h1>
        <hr />
      </div>
      {% block content %} {% endblock %}
    </div>
  </body>
</html>
