{% extends 'base.html' %} {% block content %} {% include 'search_form.html' %}
<small class="italic">
  Search found {{results['hits']['total']['value']}} results
</small>

<div id="results" class="rounded my-3 p-2 max-w-1/2">
{% for entry in results['hits']['hits'] %}
{% set doc=entry['_source'] %}
  <div class="flex items-center rounded border p-2">
    {% if doc.organization_logo %}
      <div class="max-w-xs">
        <img
        class="p-1 max-h-16"
        src="{{doc['organization_logo']}}"
        />
      </div>
    {% endif %}
  <div>
    <h2 class="text-lg font-bold">
      <a href="/edit/{{entry['_id']}}">{{doc.name}}</a>
    </h2>
    <h3>{{doc['city']}}</h3>
    <small><a href="/edit/{{entry.id}}">{{entry['id']}}</a></small>
  </div>
  </div>
  {% endfor %}
</div>

  {% endblock %}